* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --ff-primary: 'Roboto', sans-serif;
  --ff-secundary: 'Roboto Mono', monospace;
  --primary-text-color: #E1E1E6;
  --secundary-text-color: #F75A68;

  --hue: 194;
  --primary-color: hsl(var(--hue), 100%, 63%);
  --bg-color: #000000;
  --th-bg-color: #092D38;
  --tr-bg-primary: #06161B80;
  --tr-bg-secundary: #4A808C;

  --btn-primary-color: #065E7C;
  --bg-input-color: #06181C;

}

body {
  font-size: 1.6rem;
  color: var(--primary-text-color);
  background-color: var(--bg-color);
}

body * {
  font-family: var(--ff-primary);
  font-weight: 700;
}

.sr-only { /* screen reader only usar sempre no label quando houver um input para esconder o label para que somente seja lido para acessibilidade */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0); /* cria um retangulo inexistente para que realmente não apareça */
  white-space: nowrap; /* evita quebra de linha */
  border-width: 0; /* tira a borda */
}

#app {
  padding: 2rem;
  max-width: 112rem;
  margin: 0 auto; /*alinha ao centro*/
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 11.5rem 0 8.7rem 0;
}

.search {
  display: flex;
  align-items: center;
  gap: .8rem;
}

.search input {
  width: 46.2rem;
  height: 4.8rem;
  
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 100%;

  color: #FFFFFF;

  padding-left: 1.6rem;

  background: var(--bg-input-color);
  border: none;
}

.search button {
  display: flex;
  align-items: center;
  gap: .8rem;

  color: #FFFFFF;
  text-transform: uppercase;

  background-color: var(--btn-primary-color);
  border-radius: .5rem;
  padding: 1.2rem 3.2rem;

  cursor: pointer;
}

.empty {
  font-family: var(--ff-secundary);
  color: #4E5455;
  font-size: 4rem;

  display: flex;
  align-items: center;
  gap: 6rem;
  justify-content: center;

}

tbody { 
  display: block;
  max-height: 40rem;
  overflow: auto;
  overflow-x: hidden;
}

thead,
tbody tr {
  display: table;
  table-layout: fixed;
  width: 100%;
}

tbody::-webkit-scrollbar {
  width: .6rem;
}

tbody::-webkit-scrollbar-thumb {
  background-color: var(--tr-bg-secundary);    /* cor do scroll thumb */
  border-radius: 10px; 
}

.search button:hover {
  background-color: #FFFFFF;
  color: var(--btn-primary-color);
}

.search button:hover svg path {
  fill: var(--btn-primary-color);
}

table {
  width: 100%;
  border-collapse: collapse; /* tira os espaços entre os campos da tabela */
  margin-bottom: 11.6rem;
  border: 2px solid var(--tr-bg-secundary);
  border-radius: 1.2rem;
  overflow: hidden;
}

table * {
  font-size: 1.4rem;
  color: var(--text-color);
}

table th {
  background-color: var(--th-bg-color);
  text-align: left;
  font-weight: normal;
  padding: 1.5rem;
}

table th:first-child {
  border-radius: 1.2rem 0 0 0;
}

table th:last-child {
  border-radius: 0 1.2rem 0 0;
}

table td {
  padding: 1.5rem;
  text-align: left;
}

table tr:nth-child(odd) { /* odd = impar */
  background: var(--tr-bg-primary);
}

table tr:nth-child(even) { /* even = par */
  background: var(--tr-bg-secundary);
}

td.user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

td.user img {
  width: 5rem;
  height: 5rem;

  object-fit: cover; /* para cobrir com a imagem toda a area do objeto */
  border-radius: 50%;
}

td.user a {
  text-decoration: none;
}

td.user a p {
  font-weight: 700;
}

td.user a span {
  font-weight: 400;
}

td .remove {
  background: none;
  border: none;

  color: var(--secundary-text-color);

  cursor: pointer;
}

.hide {
  display: none;
}

.emptyImage { 
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;

  padding: 18rem 0;

}

.emptyImage p {
  font-weight: 700;
  font-size: 3rem;
  line-height: 2.4rem;
}